@media (max-width: 720px){
    .content{
        display: flex;
        flex-direction: column;
    }

    .main-content{
        text-align: center;
    }
    
    .form-row{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .form-col{
        justify-content: center;
        align-items: center;
    }

    input{
        max-width: 300px;
    }

    }
    .links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .links button{
        width: 80%;
    }

}