body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.background{
    background: url(../resources/images/bruno-guerrero-unsplash.jpg);
}

#main-content{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}